.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px; /* Adjust margin as needed */
  }
  .product-card {
    height: 550px;
    margin: 30px;
    
}
.card-btn {
    width: auto; /* Adjust the width as needed */
    background-color: #2f6c8f;
    border-color: #2f6c8f;
}
.product-image{
    height: 200px;
    width: 250px;
    border: 30px solid white;
    align-items: center;
}

